@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

p {
  font-size: 16px;
  line-height: 1.7em;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.display-1 {
  font-size: 88px;
  font-weight: 300;
}

.display-2 {
  font-size: 56px;
  font-weight: 300;
}



/* Header */
#main-header {
  background: url('/img/80s.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  padding-top: 160px;
}

#main-header .logo {
  font-size: 32px;
  text-transform: uppercase;
}

#main-header h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-header p {
  width: 70%;
  padding-bottom: 40px;
}

/* Description */
#description {
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
}

#description h2 {
  padding-bottom: 20px;
}

.description-row {
  padding-top: 20px;
}

.description-box {
  float: left;
  width: 33%;
  padding: 25px;
}
.description-box img{
  margin-bottom: 20px;
  max-width: 256px;
  max-height: 256px;
}

/* Testimonial */
#testimonial {
  background: url('../img/Sala de juegos.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}

#testimonial h4 {
  padding-bottom: 40px;
}

#testimonial img {
  border-radius: 50%;
  padding-bottom: 20px;
}

#testimonial p {
  width: 70%;
  margin: 0 auto;
}

#testimonial .customer {
  padding-top: 20px;
}

/* About */
#about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-image {
  float: left;
  width: 50%;
  padding: 40px;
}

.about-image img {
  width: 100%;
}

.about-text {
  float: right;
  width: 50%;
  padding: 150px 50px;
}

.about-text p {
  padding-top: 20px;
}

/* Footer */
#mainfooter {
  background: #F9F9F9;
  text-align: center;
  padding: 20px;
}
